<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About hwaware</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
  </head>
  <body>
    <center>
      <h1>hwaware</h1>
      <h2><i>Necessity is the mother of all inventions</i></h2>
    </center>
    
    <hr width="82%" />

    <table>
      <tr>
	<td width="9%"></td>
	<td width="*">
	  <span class="drop-cap">L</span>ong long ago (about {{ longness }} secods ago) there was a student who would forget the homework given
	  in the school <i>once</i> in a while, so he would have to do it at five in the morning or at
	  seven in the school.
	</td>
	<td width="9%"></td>
      </tr>
    </table>
  </body>
</html>
