<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>hwaware</title>
  </head>
  <body>
    <center>
      <h1>hwaware</h1>
      <h2>Know the homework!</h2>
    </center>

    <table width="100%">
      <tr>
	<td width="15%"></td> <!-- padding on the left -->

	<td width="*"> <!-- the table of homework goes here -->
	  
	  <table width="100%" border="1">
	    <tr>
	      <th>Date</th>
	      <th>Subject</th>
	      <th>Homework</th>
	    </tr>

	    <tr>
	      <td>1</td>
	      <td>2</td>
	      <td>3</td>
	    </tr>
	    
	  </table>
	</td>

	<td width="15%" valign="top"> <!-- the nav links go here -->
	  <table align="right" style="text-align: right">
	    <tr>
	      <td><b><a href="#">Give Homework</a></b></td>
	    </tr>
	    <tr>
	      <td><a href="#">Download CSV</a></td>
	    </tr>
	    <tr>
	      <td><a href="#">About this site</a></td>
	    </tr>
	  </table>
	</td>
      </tr>
    </table>
    <hr/>
    <center>{{ footertext|safe }}</center> <!-- the footer for copyright -->
  </body>
</html>
