<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>hwaware</title>

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
  </head>
  <body>
    <center>
      <h1><span class="orange-glow">hwa</span><span class="blue-glow">w</span><span class="green-glow">are</span></h1>
      <h2>Know the homework!</h2>
    </center>

    <br/>

    <table width="100%">
      <tr>
	<td width="15%"></td> <!-- padding on the left -->

	<td width="*"> <!-- the table of homework goes here -->
	  <!-- table of controls -->
	  <form method="POST" action="/">
	    <table width="100%" border="0">
	      <tr>
		<td width="33%">
		  Class:&nbsp;
		  <select name="usrclass">
		    {% for k in classes_data %}
		    <option value="{{ k }}">{{ classes_data[k] }}</option>
		    {% endfor %}
		  </select>
		</td>

		<td align="center" width="*">
		  Since:&nbsp;<input type="number" name="nsince" /> day(s)
		</td>

		<td align="right" width="33%">
		  <input type="submit" value="Get me the homework!" />
		</td>
		
	      </tr>
	    </table>
	  </form>

	  <!-- homework table -->
	  <table width="100%" border="1">
	    <tr>
	      <th>Date</th>
	      <th>Subject</th>
	      <th>Homework</th>
	    </tr>

	    <tr>
	      <td>1</td>
	      <td>2</td>
	      <td>3</td>
	    </tr>
	    
	  </table>
	</td>

	<td width="15%" valign="top"> <!-- the nav links go here -->
	  <table align="right" style="text-align: right">
	    <tr>
	      <td><b><a href="#">Give Homework</a></b></td>
	    </tr>
	    <tr>
	      <td><a href="#">Download CSV</a></td>
	    </tr>
	    <tr>
	      <td><a href="{{ url_for('on_about') }}">About this site</a></td>
	    </tr>
	  </table>
	</td>
      </tr>
    </table>
    <hr/>
    <center>{{ footertext|safe }}</center> <!-- the footer for copyright -->
  </body>
</html>
