<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>hwaware</title>
  </head>
  <body>
    <center>
      <h1>hwaware</h1>
      <h2>Know the homework!</h2>
    </center>

    <table width="100%">
      <tr>
	<td width="5%"></td> <!-- padding on the left -->

	<td width="85%"> <!-- the table of homework goes here -->
	  
	  <table width="100%" border="1">
	    <tr>
	      <th>Date</th>
	      <th>Subject</th>
	      <th>Homework</th>
	    </tr>

	    <tr>
	      <td>1</td>
	      <td>2</td>
	      <td>3</td>
	    </tr>
	    
	  </table>
	</td>

	<td width="10%" align="right"> <!-- the nav links go here -->
	</td>
      </tr>
    </table>
    <hr/>
    <center>{{ footertext|safe }}</center>
  </body>
</html>
